*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(250, 250, 250);
}

:root{
  --naranja:#FFAE30;
  --bordes_redondeados:5px;
}

.ocultar{
  display: none;
}