.landingPage{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

.img{
    width: 100%;
    height: 100%;
    filter: brightness(70%);
    z-index: -1;
}


.tituloBtnHome{
    position: absolute;
    top: 25%;
    transform: translateY(-25%);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    border-radius: var(--bordes_redondeados);
    align-items: center;
    padding: 10px;
    background-color: rgba(247, 247, 247, 0.137);
    border: 1px solid var(--naranja);
    
}


.tituloBtnHome h1{
    font-family: cursive;
    color: rgb(236, 236, 236);
    margin-bottom: 10px;
}

.btnLinkHome{
    display: inline-block;
    text-decoration: none;
    background-color: var(--naranja);
    color: aliceblue;
    padding: 5px 10px;
    border-radius: var(--bordes_redondeados);
    cursor: pointer;
}